.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
**/*.ts
.gitignore
.yarnrc
.eslintrc.json
**/*.vsix
**/node_modules/**
npm-debug.log
.nyc_output/**
coverage/**
**/*.backup
demo.gif
vsc-extension-quickstart.md
bootstrap5snippets-*.vsix
CONTRIBUTING.md
.git/**
.DS_Store